src/main/resources/ticket.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Ticket">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:long"/>
                <xs:element name="issueType" type="xs:string"/>
                <xs:element name="priority" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="submittedAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>